
.icon-tgnew:before { content: '\e800'; } /* '' */
.icon-androidwdlka:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-note-beamed:before { content: '\e803'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-glide:before { content: '\f2a5'; } /* '' */
